<!-- Overlay elements -->
<div (click)="closeOverlay()" class="absolute top-0 left-0 w-full h-full backdrop-blur-sm z-50"></div>

<div class="absolute z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[70%] w-1/2 min-w-[35rem] min-h-min rounded-md drop-shadow-lg bg-gradient-to-b from-slate-50 via-slate-100 to-blue-300"> 
    <div class="flex flex-col w-full h-full p-5">
        <div class="text-lg font-medium">Add Laboratory Examination</div>

        <!-- Lower Half -->
        <div class="w-full grow flex flex-col items-center justify-center">
            <!-- Description and diagnosis -->
            <div class="w-full mt-20">
                <form [formGroup]="form">
                    <div class="mb-5">
                        <label for="type">Type: </label>
                        <div class="inline relative">
                            <input #searchBox id="type" (keyup.enter)="search(searchBox.value)" placeholder="Search..." formControlName="type" (click)="dropdownVisibility = !dropdownVisibility"  class="bg-gray-200 p-1 w-52 text-left placeholder-gray-500">
                            <ul *ngIf="dropdownVisibility" class="absolute origin-top-left left-0 z-20 bg-white p-1 divide-y w-72 max-h-44 overflow-y-auto">
                                <li *ngFor="let type of types">
                                    <button type="button" (click)="onSelect(type)" class="hover:bg-gray-200 active:bg-gray-300 w-full text-left p-1">
                                        {{type.icd}} {{type.name}}
                                    </button>
                                </li>
                            </ul>
                        </div>

                    </div>
                    
                    <div>
                        <label for="notes">Doctor's notes:</label>
                        <textarea id="notes" rows="7" placeholder="Notes for the laboratory" class="w-full resize-none mb-2 bg-gray-200" formControlName="notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="grow"></div>
            <button type="button" (click)="sendExamination()" class="ml-8 mb-2 font-semibold text-white bg-blue-600 px-6 py-2 rounded-lg hover:bg-blue-700 active:bg-blue-800">Submit</button>
        </div>
    </div>
</div>