<!--The inputs-->
<div class="w-full">
        <form [formGroup]="form" class="flex items-baseline" (change)="getList()">
            <label class="mr-10 space-x-2">
                <span>Date:</span>
                <input required type="date" min="01-01-2021" placeholder=today class="bg-gray-200 p-1" formControlName="date">
            </label>

            <label for="radios" class="mr-2">Filter:</label>
            <fieldset id="radios" class="space-x-2">
                <label>
                    <input type="radio" value="all" formControlName="filter">
                    <span> All</span>
                </label>
                <label>
                    <input type="radio" value="upcoming" formControlName="filter">
                    <span> Upcoming</span>
                </label>
                <label>
                    <input type="radio" value="finished" formControlName="filter">
                    <span> Finished</span>
                </label>
            </fieldset>
        </form>
</div>

<!-- The list -->
<div class="mt-4 grow w-full overflow-y-auto relative">
    <ul class="absolute top-0 left-0 w-full divide-y">
        <li *ngFor="let item of list" class="flex justify-between">
            <span>{{item.date}}</span>
            <span>{{item.doctor}}</span>
            <span>{{item.status}}</span>
        </li>
    </ul>
</div>